body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #007bff;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.task-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.task-category {
    margin-top: 5px;
    padding: 5px;
}

.task-card h3 {
    color: #007bff;
    margin-top: 0;
}

.task-card p {
    margin-bottom: 5px;
}

/* Adjust button positioning */
.task-card button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1; 
}


.delete-btn:hover {
    transform: scale(1.1);
}

.completed {
    background-color: #28a745;
}

.completion-message {
    margin-top: 10px;
    color: #28a745;
    font-style: italic;
}
