{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
@app.route('/')
def index():
    if 'username' in session:
        tasks = Task.query.filter_by(username=session['username']).all()
        return render_template('index.html', tasks=tasks)  # Ensure tasks variable is passed to the template
    return redirect(url_for('login'))

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <input type="submit" value="Register" class="btn">
</form>

{% endblock %}
